.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log filesadolb ghp_n9lAR6Yg9FC95fU8jPx6O4ZdGUo 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JTsA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17VfGYo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
t init